:root {
  // --------------- primary colors --------------------
  --brightRed: hsl(12, 88%, 58%)
  --darkBlue: hsl(228, 39%, 23%)

  // ---------------- neutral colors -------------------
  --darkGrayishBlue: hsl(227,12%,61%)
  --veryDarkBlue: hsl(233,12%,13%)
  --veryPaleRed: hsl(13,100%,96%)
  --varyLightGray: hsl(0, 0%, 98%)

  // --------------- typography -----------------------
  --fontSize: 16px

  --lightFont: 400
  --mediumFont: 500
  --heavyFont: 700
}